@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'Archia';
    src: local('Archia'),
        url("https://dafonttop.com/wp-data/a/21/8021/file/archia-regular-webfont.ttf") format("woff"),
        url("https://dafonttop.com/wp-data/a/21/8021/file/archia-regular-webfont.ttf") format("opentype"),
        url("https://dafonttop.com/wp-data/a/21/8021/file/archia-regular-webfont.ttf") format("truetype");
}

* {
    font-family: "Archia", sans-serif;
    
}

